* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
  background-color: #ecf0f3;
}

.container {
  background-color: #bcc2c6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  border-radius: 28px;
  box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.8), 10px 10px 20px rgb(0, 0, 0, 0.8);
  display: grid;
  padding: 16px;
  grid-template-columns: repeat(4, 66px);
}

input {
  grid-column: span 4;
  height: 68px;
  width: 258px;
  box-shadow: inset 3em -3em 3em #fff, inset 6px 6px 0px 2px rgba(0, 0, 0, 0.16);
  background-color: #ecf0f3;
  border: none;
  border-radius: 32px;
  color: rgb(26, 25, 25);
  text-align: end;
  margin: 40px 0px 30px 0px;
  padding: 20px;
  font-size: 40px;
}

button {
  border: none;
  box-shadow: inset -6px -6px 13px #fff, 6px 6px 13px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 10px;
  font-size: 16px;
}
.equalsign {
  width: 120px;
  border-radius: 100px;
}
